@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;500&family=Sansita+Swashed:wght@300&display=swap');

*{ /* Reset CSS -> para tirar qualquer estilização padrão e previnir bugs*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, 	#0000EE 16.62%, #589bff 105.61%);
}

strong{ color: rgb(213, 231, 252); }



.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Lemonada', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    transition: all 0.5s;
    border: 2px solid transparent;
    padding: 10px;
    cursor: pointer;
}

.cabecalho-menu-item:hover{
    border: 2px solid rgb(3, 12, 133);
    border-radius: 70px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.conteudo{
    margin-bottom: 40px;
    border-top: 6px double #000000;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.conteudo-principal-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.conteudo-principal-text-titulo{
    font-family: 'Sansita Swashed', cursive;
    color: #1E90FF;
    font-weight: 400;
    font-size: 50px;
    text-shadow: 4px 5px 4px rgb(5, 5, 5, 1);
    -webkit-text-stroke: 1.5px #FFF;
      text-stroke: 1.5px #FFF; 
    animation: go-back 5s infinite alternate;
}

@keyframes go-back {
    from {
      transform: translateX(30px);
    }
    to {
      transform: translateX(-40px);
    }
  }

.conteudo-principal-text-subtitulo{
    font-family: 'Lemonada', cursive;
    color: #9dccfc;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 1px 2px 1px rgb(0, 0, 0, 1);
    
}

.conteudo-principal-text-subtitulo2{
    font-family: 'Sansita Swashed', cursive;
    color: #ffffff;
    font-weight: 100;
    font-size: 30px;
    margin-top: -15px;
    text-shadow: 
               -2px -2px 1px rgb(4, 6, 124), 
               -2px 2px 1px rgb(4, 6, 124),      
                2px -2px 1px rgb(4, 6, 124),    
                2px 1px 1px rgb(4, 6, 124);
}

.conteudo-principal-text-botao{
    background-color: rgb(78, 134, 255);
    width: 225px;
    height: 90px;
    box-shadow: 4px 5px 4px rgb(0, 0, 0);
    border-radius: 20px;
    font-family: 'Lemonada', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    align-self: center;
    text-shadow: 
               -2px -2px 1px rgb(0, 0, 0), 
               -2px 2px 1px rgb(0, 0, 0),      
                2px -2px 1px rgb(0, 0, 0),    
                2px 1px 1px rgb(0, 0, 0);
    transition: all .5s;
    border: 5px solid transparent;                
}

.conteudo-principal-text-botao:hover{
    background-color: rgb(3, 12, 133);
    border: 5px solid #36b2ff;
    border-radius: 70px;
}

.conteudo-principal-img{
    height: 430px;
    transition: all 0.5s;
    cursor: pointer;
}

.conteudo-principal-img:hover{
    -webkit-filter: drop-shadow(8px 6.5px 5px rgb(255, 255, 255, 1));
    filter: drop-shadow(8px 6.5px 5px rgb(255, 255, 255, 1));
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
}

.conteudo-secundario-titulo{
    border-top: 2px solid #fdfdfd;
    padding-top: 48px;
    font-family: 'Sansita Swashed', cursive;
    color: #1E90FF;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 16px;
    -webkit-text-stroke: 1px #FFF;
      text-stroke: 1px #FFF;
    text-shadow: 2px 3px 2px rgb(0, 0, 0, 1);
}

.conteudo-secundario-subtitulo{
    font-family: 'Sansita Swashed', cursive;
    color: #ffffff;
    font-weight: 100;
    font-size: 40px;
    margin-top: 15px;
    text-shadow: 
               -2px -2px 1px rgb(4, 6, 124), 
               -2px 2px 1px rgb(4, 6, 124),      
                2px -2px 1px rgb(4, 6, 124),    
                2px 1px 1px rgb(4, 6, 124);
}

.conteudo-secundario-paragrafo{
    font-family: 'Lemonada', cursive;
    color: #95caff;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 1px 2px 1px rgb(0, 0, 0, 1);
    
}

.rodape{
    border-top: 6px double #000000;
}

.rodape-img{
    height: 100px;
    display: block;
    margin: 0 auto;
    transition: all 0.5s;
    cursor: pointer;
}

.rodape-img:hover{
    -webkit-filter: drop-shadow(8px 6.5px 5px rgb(255, 255, 255, 1));
    filter: drop-shadow(8px 6.5px 5px rgb(255, 255, 255, 1));
}